h1
				{
					font:bold 56pt chiller;
					color:red;
					text-decoration:none;
					text-align:center;
				}
				a
				{
					font:34pt chiller;
					color:crimson;
					text-align:center;
				}
				h2
				{
					font:bold 38pt chiller;
					color:darkred;
					text-align:center;
				}
				body
				{
				background-repeat: no-repeat;
				background-size: 100%;
				}