body{
    color: rgb(255, 219, 233);
    background: rgb(17, 17, 17);
    width: 99vw;
    height: 97vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Grids*/
.dgrid{
    display: inline-grid;
    grid-template-columns: 5% auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 5% auto auto auto auto auto auto auto auto auto auto;
    /*border: 2px solid black;*/
    width: 38%;
    height: 76%;
    margin: 1%;
}
.box{
    border: 2px solid rgb(0, 69, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /*makes the text unhighlightable*/
}
.label{
    border: 2px solid rgb(0, 69, 94);
    color: rgb(255, 72, 72);
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    margin-left: 2.5%;
    width: 15%;
    height: 5%;
}

