/*general*/
body{
    background:#004492; /*background*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
}
div{
    display: inline-block;
    color: white;
    height: 80%;
    text-align: center;
}

/*formatting*/
#left{
    width: 10%;
}
#middle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#right{
    width: 30%;
}
#left, #middle, #right{
    border: 2px solid white;
}

/*specifics*/
#petimg{
    width: 80%;
}
#menubtn, #createbtn{
    position: absolute;
    z-index: 1;
}

/*popups*/
#petmenuset, #newselectionset{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.541);
}
#petmenu{
    background: rgb(0, 66, 11);
    width: 70%;
    height: 90%;
}
#newselection{

}