body{
    background-image: url(../images/background.png);
    background-repeat: repeat;
    background-size: 20rem; /*rem = font-size of root element*/
}
#middle{
    margin: auto;
    width: 90vw;
    text-align: center;
}
#p1, #p2, #p3, #p4, #drawpiles{
    padding-top: 4%;
    padding-bottom: 4%;
    border: 2px solid black;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}
#p2, #p3{
    display: inline-block;
    width: 15vw;
}
img{
    transform: rotate(90);
}
#drawpiles{
    display: inline-block;
    width: 55vw;
}
#deckpile{
    padding-left: 20%;
}