@font-face{
    font-family: Quinthero;
    src: url(../fonts/Quinthero.ttf);
    font-family: akaPosse;
    src: url(../fonts/akaPosse.ttf);
}
/*general*/
h1{
    font-size: 250%;
    text-align: center;
}
body{
    background-image: url(../images/background.png);
    background-repeat: repeat;
    background-size: 20rem; /*rem = font-size of root element*/
    font-family: akaPosse;
}
#middle{
    margin: auto;
    width: 90vw;
    text-align: center;
}

/*hands*/
.playerhand, #drawpiles{
    padding-top: 2%;
    padding-bottom: 2%;
    /*border: 2px solid black;*/
    margin: auto;
    margin-top: 1%;
    text-align: center;
}
#p2disp, #p4disp{
    display: inline-block;
    width: 20vw;
    transform: rotate(90deg);
}
#p1disp{
    margin-top: 4%; /*!!*/
}

/*center*/
.pilelabel{
    display: inline-block;
    /* border: 4px solid gray;
    border-radius: 5%; */
    font-size: 200%;
    color: gray;
    margin-bottom: 10%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#drawpiles{
    display: inline-block;
    width: 30vw;
}
#deckpile, #knockblock, #discardpile{
    display: inline-block;
    /*border: 2px solid black;*/
    padding-top: 2%;
    width: 8vw;
}

#knockbutton /*Gradient from bottom to top - brighter towards center. spherical illusion*/
{
    height: 5vh;
    width: 5vh;
    border: 4px solid black;
    background: radial-gradient(#ff8d8d, #ff0000);
    border-radius: 50%;
}
#knockbutton:focus
{
    outline: 0; /*removes blue focus outline*/
}
#knockbutton:active
{
    background: radial-gradient(#c05353, #b90000);
}
#knockbutton:hover
{
    box-shadow: 0 0 10px rgb(55, 182, 255);
}

#rcHolder
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#roundController
{
    width: 7vw;

}